.centralizar {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 70%;
}


.fonte1 {
    font-size: 4rem;
}

.fonte2 {
    font-size: 2.5rem;
}